/* ╔════════════════════•°♥ Menu cabecera ♥°•═══════════════════╗ */
header{
    background-color: var(--color-5);
    height: 110px;
    position: sticky;
    top: 0px;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-element{
    text-align: cent;
    font-family: fuenteTitulo;
    font-size: calcTamaño($tamañoBaseFuente,40px);
    display: inline-block;
    width: 25%;
    background-color: var(--color-2);
    color: var(--color-3);
    margin: 0.5%;
    border-radius: 80px 10px;
    border: 3px solid var(--color-3);

    &:hover{
        background-color: var(--color-4);
        color: #FFEBC9;
    }
}
//Para móvil / media pantalla las cajas de menu ocupán más porcentaje
@media only screen and (max-width:1400px) {
    .menu-element{
        width: 40%;
    }
}
/* ╚═══════════════•°♥ Menu cabecera ♥°•═══════════════╝ */
