@charset "UTF-8";
html {
  box-sizing: border-box;
}

body {
  position: relative;
}

@font-face {
  font-family: fuenteTitulo;
  src: url(../Tipografias/DUNGRG__.TTF);
}
@font-face {
  font-family: fuenteContenido;
  src: url(../Tipografias/TravelingTypewriter.ttf);
}
@font-face {
  font-family: hojas;
  src: url(../Tipografias/Falline.ttf);
}
header {
  background-color: var(--color-5);
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 10;
  text-align: center;
}

.menu-element {
  text-align: cent;
  font-family: fuenteTitulo;
  font-size: 35px;
  display: inline-block;
  width: 25%;
  background-color: var(--color-2);
  color: var(--color-3);
  padding: 10px;
  margin: 0.5%;
  margin-top: 15px;
  border-radius: 80px 10px;
  border: 3px solid var(--color-3);
}
.menu-element:hover {
  background-color: var(--color-4);
  color: #FFEBC9;
}

/* ╔════════════════•°♥ Fondos ♥°•═══════════════╗ */
main {
  background-color: var(--color-1);
  width: 80%;
  position: relative;
  left: 10%;
  font-family: fuenteContenido;
}

.fondo {
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

body {
  margin: 0px;
  background-color: var(--color-3);
  position: relative;
}

.columna {
  position: absolute;
  font-size: 200px;
  text-align: center;
  width: 10%;
  font-family: hojas;
  color: var(--color-1);
}

.colder {
  top: 100px;
  left: 90%;
}

/* ═══════════════•°♥ Fondos palos ♥°•══════════════ */
.grande {
  position: relative;
}

.pequeño {
  z-index: 2;
  height: 20px;
}

/* ╚═══════════════•°♥ Fin Fondos ♥°•═══════════════╝ */
/* ╔══════════════════════•°♥ Elementos ♥°•══════════════════════╗ */
/* ══════════════════════•°♥ Circulo Foto ♥°•═════════════════════ */
#idcirculogran {
  bottom: -11px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: var(--color-6);
  border-radius: 100%;
  margin-top: 30px;
  border: 10px solid var(--color-3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#idfoto {
  background-size: cover;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin-top: 10px;
  border: 10px solid var(--color-3);
  z-index: 2;
  background-image: url(../imagenes/modoDebug.png);
}

/* ══════════════════════════•°♥ Palos ♥°•══════════════════════════ */
.palocen {
  position: relative;
  background-color: var(--color-6);
  width: 20px;
  height: 250px;
  border-left: 10px solid var(--color-3);
  border-right: 10px solid var(--color-3);
}

.paloder {
  width: 490px;
  background-color: var(--color-6);
  height: 20px;
  border-right: 10px solid var(--color-3);
  z-index: 2;
}

.paloizq {
  width: 490px;
  background-color: var(--color-6);
  height: 20px;
  border-left: 10px solid var(--color-3);
  z-index: 2;
}

.nudoder {
  background-color: var(--color-6);
  width: 30px;
  height: 20px;
  border-left: 10px solid var(--color-3);
}

.nudoizq {
  background-color: var(--color-6);
  width: 30px;
  height: 20px;
  border-right: 10px solid var(--color-3);
}

/* ════════════════•°♥ Huecos y bordes para palos ♥°•═══════════════ */
.vacio {
  width: 500px;
  height: 20px;
}

.border {
  width: 500px;
  height: 10px;
  background-color: var(--color-3);
  z-index: 2;
}

.upr {
  border-bottom-right-radius: 20px;
}

.upl {
  border-bottom-left-radius: 20px;
}

.downr {
  position: relative;
  top: 240px;
  border-top-right-radius: 20px;
}

.downl {
  position: relative;
  top: 240px;
  border-top-left-radius: 20px;
}

/* ══════════════════════════•°♥ Circulo final ♥°•══════════════════════════ */
#idcirculopeq {
  top: -41px;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: var(--color-6);
  border-radius: 100%;
  margin-top: 30px;
  border: 10px solid var(--color-3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ╚══════════════════════════•°♥ Fin Elementos ♥°•══════════════════════════╝ */
/* ╔══════════════════════•°♥ Carteles ♥°•══════════════════════╗ */
.contCartel {
  position: absolute;
  top: -220px;
  width: 2400%;
  height: 230px;
}

.cartel {
  width: 98%;
  height: 90%;
  position: absolute;
  top: 10%;
  background-color: var(--color-2);
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  color: var(--color-3);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cartel span {
  position: relative;
  top: 10px;
  text-decoration: underline;
}
.cartel b {
  font-size: 25px;
}

.datos {
  position: relative;
  top: 15px;
  width: 85%;
  height: 80%;
  text-align: left;
  font-size: 18px;
  line-height: 40px;
}

.columnas {
  column-count: 2;
  line-height: 30px;
}
.columnas div {
  width: 100%;
  height: 100%;
}
.columnas span {
  top: 0;
}

.contCajitas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.cajita {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-3);
  border-radius: 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.cajita:hover {
  animation: encimaBoton 0.1s linear 0s forwards;
}
.cajita:not(:hover) {
  animation: noEncimaBoton 0.1s linear 0s forwards;
}

#idjuegos {
  background-image: url("../imagenes/juegos.png");
}

.cajita {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-3);
  border-radius: 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.cajita:hover {
  animation: encimaBoton 0.1s linear 0s forwards;
}
.cajita:not(:hover) {
  animation: noEncimaBoton 0.1s linear 0s forwards;
}

#idescalada {
  background-image: url("../imagenes/escalada.png");
}

.cajita {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-3);
  border-radius: 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.cajita:hover {
  animation: encimaBoton 0.1s linear 0s forwards;
}
.cajita:not(:hover) {
  animation: noEncimaBoton 0.1s linear 0s forwards;
}

#idleer {
  background-image: url("../imagenes/leer.png");
}

.cajita {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-3);
  border-radius: 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.cajita:hover {
  animation: encimaBoton 0.1s linear 0s forwards;
}
.cajita:not(:hover) {
  animation: noEncimaBoton 0.1s linear 0s forwards;
}

#idcocinar {
  background-image: url("../imagenes/cocinar.png");
}

.afic {
  background-color: var(--color-4);
}

.carder {
  left: 2%;
}

.carizq {
  right: 2%;
}

.cuerda {
  position: absolute;
  width: 5px;
  height: 45px;
  background-color: var(--color-3);
  z-index: 1;
}

.cizq {
  left: 20%;
}

.cder {
  left: 80%;
}

.clavo {
  width: 11px;
  height: 11px;
  background-color: var(--color-3);
  position: absolute;
  top: 38px;
  left: -3px;
  border-radius: 100%;
}

/* ══════════════════════════•°♥ Contenido ♥°•══════════════════════════ */
/* ══════════════════════════•°♥ Tapadores ♥°•══════════════════════════ */
.tapador {
  position: absolute;
  top: 10px;
  background-color: var(--color-1);
  width: 2400%;
  height: 230px;
  z-index: 2;
}

.der {
  left: 30px;
}

.izq {
  right: 30px;
}

/* ╚══════════════════════════•°♥ Fin carteles ♥°•══════════════════════════╝ */
/* ╔════════════════•°♥ Pies ♥°•═══════════════╗ */
#idredes {
  width: 100%;
  height: 150px;
  background-color: var(--color-5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#idpie {
  width: 100%;
  height: 100px;
  background-color: var(--color-3);
  text-align: center;
}

#idcontLogo {
  display: inline-block;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#idlogo {
  display: inline-block;
  background-size: cover;
  background-image: url(../imagenes/logo.png);
  width: 60px;
  height: 60px;
}

#idnombreLogo {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font-size: 30px;
  color: var(--color-2);
}

#idinstagram {
  margin: 10px;
  background-color: var(--color-2);
  background-image: url("../imagenes/instagram.png");
}

#idgmail {
  margin: 10px;
  background-color: var(--color-2);
  background-image: url("../imagenes/gmail.png");
}

/* ╚═══════════•°♥ Fin pies ♥°•═══════════╝ */
:root .tema-claro {
  --color-1: #FFEBC9;
  --color-2: #E8C07D;
  --color-3: #614124;
  --color-4: #9FC088;
  --color-5: #CC704B;
  --color-6: #b87f59;
}
:root .tema-oscuro {
  --color-1: #D1B282;
  --color-2: #A47836;
  --color-3: #3A1F0C;
  --color-4: #728E55;
  --color-5: #8D4319;
  --color-6: #724b2b;
}

.menu-switch {
  text-align: right;
  font-size: 20px;
  display: inline-block;
  width: 5%;
  color: var(--color-2);
  margin: 0.5%;
  margin-top: 15px;
}

/*------ Settings ------*/
.container {
  --color: var(--color-2);
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .moon {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.container input:checked ~ .moon {
  display: none;
}

.container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  75% {
    transform: rotate(25deg);
  }
}
/* Rellenos */
.circRelleno {
  border-radius: 100%;
  position: absolute;
  background-color: rgb(233, 45, 45);
}

.paloRelleno {
  z-index: 3;
  position: relative;
  background-color: rgb(233, 45, 45);
}

/* Animaciones Relleno */
@keyframes rellenarVertical {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes rellenarHorizontalIzq {
  from {
    height: 100%;
    width: 0%;
    left: 100%;
  }
  to {
    height: 100%;
    width: 100%;
    left: 0%;
  }
}
@keyframes rellenarHorizontalDer {
  from {
    height: 100%;
    width: 0%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes rellenarCirculo {
  from {
    top: 25%;
    width: 50%;
    height: 50%;
  }
  to {
    top: 0%;
    width: 100%;
    height: 100%;
  }
}
@keyframes rellenarUnionCirculo {
  from {
    height: 0%;
  }
  to {
    height: 105%;
  }
}
/* Animaciones carteles */
@keyframes moverCartel {
  from {
    top: -220px;
  }
  60% {
    top: 10px;
  }
  70% {
    top: -10px;
  }
  80% {
    top: 10px;
  }
  90% {
    top: 0px;
  }
  to {
    top: 10px;
  }
}
#t1 {
  animation: rellenarCirculo 0s linear 0s forwards;
}

#t2 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t3 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t4 {
  animation: rellenarHorizontalDer 0s linear 0s forwards;
}

#t5 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t6 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t7 {
  animation: rellenarHorizontalIzq 0s linear 0s forwards;
}

#t8 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t9 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t10 {
  animation: rellenarHorizontalDer 0s linear 0s forwards;
}

#t11 {
  animation: rellenarVertical 0s linear 0s forwards;
}

#t12 {
  animation: rellenarUnionCirculo 0s linear 0s forwards;
}

#t13 {
  animation: rellenarCirculo 0s linear 0s forwards;
}

#c1 {
  animation: moverCartel 0s ease-in 0s forwards;
}

#c2 {
  animation: moverCartel 0s ease-in 0s forwards;
}

#c3 {
  animation: moverCartel 0s ease-in 0s forwards;
}

/*Animacion botón*/
.botonSelec {
  width: 90%;
  height: 80%;
  background-position: 10px;
  animation: botonGrande 0.2s ease-out 0s forwards;
}
.botonSelec div {
  position: relative;
  left: 17%;
  top: 10%;
  text-align: left;
  width: 70%;
  height: 90%;
}
.botonSelec:hover {
  animation: botonGrande 0.2s ease-out 0s forwards;
}
.botonSelec:not(:hover) {
  animation: botonGrande 0.2s ease-out 0s forwards;
}

.botonNoSelec {
  display: none;
}

@keyframes botonGrande {
  from {
    width: 50px;
    height: 50px;
    font-size: 0px;
  }
  to {
    width: 90%;
    height: 80%;
  }
}
@keyframes encimaBoton {
  from {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  to {
    width: 60px;
    height: 60px;
    background-size: 45px;
  }
}
@keyframes noEncimaBoton {
  from {
    width: 60px;
    height: 60px;
    background-size: 45px;
    to {
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
  }
}

/*# sourceMappingURL=main.css.map */
