$palos-tamanios:(
  'horizontal_long':490px,
  'vertical_long':250px,
  'nudo_long':30px,
  'ancho':20px
);


html{
    box-sizing: border-box;
}
body{
    // background-color: #705545;
    position: relative;
}

//Actiar modo debug
$debug:false;

$tama単oBaseFuente:20px;

@font-face {
    font-family: fuenteTitulo;
    src: url(../Tipografias/DUNGRG__.TTF);
}
@font-face {
  font-family: fuenteContenido;
  src: url(../Tipografias/TravelingTypewriter.ttf);
}
@font-face {
  font-family: hojas;
  src: url(../Tipografias/Falline.ttf);
}
@function calcTama単o($tama単oBase,$modificacion){
    @return $tama単oBase+$modificacion; 
}

@import "partials/menu";
@import "partials/contenido";
@import "partials/footer";
@import "partials/modoNoche.scss";
@import "partials/animaciones";

// sass --watch workspace/diw-2023-web-personal/pegasojuegos/SASS/MiWeb.scss workspace/diw-2023-web-personal/pegasojuegos/CSS/main.css






